In [12]:
import hello as h

h.message

'Hello Jack'

In [13]:
import edhec_risk_kit as erk

returns = erk.get_ffme_returns()

In [14]:
returns.head()

         smallcap  largecap
1926-07   -0.0145    0.0329
1926-08    0.0512    0.0370
1926-09    0.0093    0.0067
1926-10   -0.0484   -0.0243
1926-11   -0.0078    0.0270

In [19]:
erk.drawdown(returns['smallcap'])['Drawdown'].min()

-0.8330007793945303

In [20]:
erk.drawdown(returns['1975':]['smallcap'])['Drawdown'].min()

-0.6312068077252386