In [2]:
import pandas as pd

df = pd.read_csv('sample_prices.csv')

In [3]:
returns = df.pct_change()

In [4]:
returns

        BLUE    ORANGE
0        NaN       NaN
1   0.023621  0.039662
2  -0.021807 -0.033638
3  -0.031763  0.082232
4   0.034477  0.044544
5   0.037786 -0.026381
6  -0.011452 -0.049187
7   0.032676  0.117008
8  -0.012581  0.067353
9   0.029581  0.078249
10  0.006151 -0.168261
11  0.012162  0.024041
12  0.021149 -0.055623

In [5]:
returns = returns.dropna()

In [6]:
returns

        BLUE    ORANGE
1   0.023621  0.039662
2  -0.021807 -0.033638
3  -0.031763  0.082232
4   0.034477  0.044544
5   0.037786 -0.026381
6  -0.011452 -0.049187
7   0.032676  0.117008
8  -0.012581  0.067353
9   0.029581  0.078249
10  0.006151 -0.168261
11  0.012162  0.024041
12  0.021149 -0.055623

In [7]:
risk = returns.std()
risk

BLUE      0.023977
ORANGE    0.079601
dtype: float64

In [8]:
#annualized risk. We are working with monthly returns
import numpy as np
risk*np.sqrt(12)

BLUE      0.083060
ORANGE    0.275747
dtype: float64

In [9]:
returns = pd.read_csv('Portfolios_Formed_on_ME_monthly_EW.csv', header=0, index_col=0, parse_dates=True, na_values=-99.99)
returns.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [10]:
#We are only interested in 'Lo 10' and 'Hi 10' columns
columns = ['Lo 10', 'Hi 10']
returns = returns[columns]
returns

        Lo 10  Hi 10
192607  -1.45   3.29
192608   5.12   3.70
192609   0.93   0.67
192610  -4.84  -2.43
192611  -0.78   2.70
...       ...    ...
201808   2.41   2.34
201809  -1.68   0.87
201810 -10.02  -6.57
201811  -3.65   2.53
201812 -15.31  -8.90

[1110 rows x 2 columns]

In [11]:
#convert values from percentages to raw numbers
returns = returns/100
returns

         Lo 10   Hi 10
192607 -0.0145  0.0329
192608  0.0512  0.0370
192609  0.0093  0.0067
192610 -0.0484 -0.0243
192611 -0.0078  0.0270
...        ...     ...
201808  0.0241  0.0234
201809 -0.0168  0.0087
201810 -0.1002 -0.0657
201811 -0.0365  0.0253
201812 -0.1531 -0.0890

[1110 rows x 2 columns]

In [12]:
#rename the columns
returns.columns = ['SmallCap', 'LargeCap']
returns

        SmallCap  LargeCap
192607   -0.0145    0.0329
192608    0.0512    0.0370
192609    0.0093    0.0067
192610   -0.0484   -0.0243
192611   -0.0078    0.0270
...          ...       ...
201808    0.0241    0.0234
201809   -0.0168    0.0087
201810   -0.1002   -0.0657
201811   -0.0365    0.0253
201812   -0.1531   -0.0890

[1110 rows x 2 columns]

In [13]:
returns.plot.line()

In [14]:
volatility = returns.std()
volatility

SmallCap    0.106288
LargeCap    0.053900
dtype: float64

In [15]:
annualized_volatility = volatility*np.sqrt(12)
annualized_volatility

SmallCap    0.368193
LargeCap    0.186716
dtype: float64

In [17]:
n_months = returns.shape[0]
#compounded returns is (returns + 1).prod() - 1
#now returns per month:
return_per_month = (returns + 1).prod()**(1/n_months) - 1
return_per_month

SmallCap    0.012986
LargeCap    0.007423
dtype: float64

In [18]:
annualized_return = (return_per_month + 1)**12 - 1

In [19]:
annualized_return

SmallCap    0.167463
LargeCap    0.092810
dtype: float64

In [20]:
annualized_return/annualized_volatility

SmallCap    0.454825
LargeCap    0.497063
dtype: float64

In [21]:
#assume riskfree_rate is 0.03
riskfree_rate = 0.03
excess_return = annualized_return - riskfree_rate
sharpe_ratio = excess_return/annualized_volatility
sharpe_ratio

SmallCap    0.373346
LargeCap    0.336392
dtype: float64